##################################################
# env.yaml
# Contains the project's environment variables
# Variables set in a remote provider outrank
# this the values from this file.
##################################################

# Base config that is mixed in by the others.
base:
  LOG_LEVEL: LOG_LEVEL
  EMIT_STACK_TRACE: EMIT_STACK_TRACE

database:
  DB_URL: postgres://someurl

# Development environment.
development:
  ~compose: [base, database]
  # Port to use
  PORT: PORT
  # In development it can be useful to get the error stack.
  EMIT_STACK_TRACE: EMIT_STACK_TRACE

# Running tests
test:
  # Test environment is based on development.
  ~compose: environment
  # Disable logging for tests
  LOG_LEVEL: LOG_LEVEL

# Production environment.
production:
  # Production environment is based on development.
  ~compose: [base, database]
  # Port to use
  PORT: PORT
